/******************/
/* BUTTONS         */
/******************/

.fusion-button.button-1:hover, .fusion-button.button-1:focus, .fusion-button.button-1:active{
    border-color: $primary !important;
}

#wrapper {
    .button-scheme-1 {
        background-color: transparent;
        color: #fff;

        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: #ab3969
        }
    }
    .button-default:hover{
        border-color: $primary;
    }

    .btn{
        font-family: $font-sans;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        padding: 13px 22px 9px 22px;
        border: 3px solid;
        background: transparent;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: background .2s ease,color .2s ease;
        transition: background .2s ease,color .2s ease;
        transition-property: background, color;
        transition-duration: 0.2s;
        transition-timing-function: initial;
        transition-delay: initial;

        &:focus{
            
            outline: none;
        }

        &--large{
            padding: 21px 22px 17px 22px;
            font-size: 18px;
        }

        &--inverse {
            background-color: $primary;
            color: #fff;
            border-color: $primary;

            &:hover {
                background-color: #fff;
                color: $primary;
            }

            .fusion-button-text {
                color: inherit !important; 
            }
        }
        &--primary{
            border-color: $primary;
            color: $primary;

            &:hover{
                background: $primary;
                color: #fff;
        
                // border-color: #ffffff;
            }
        }

        &--link {
            bordeR: 0;
        }
        &--default{
            border-color: #fff;
            color: #fff;

            &:hover{
                // background: #fff;
                color: $primary;
                background: #fff;
            }
        }

        &--primary a{
            color: $primary;
        }


        &--cyberattacks{
            border-color: $cyber;
            color: $cyber;

            &:hover{
                background-color: $cyber;
                color: #fff;
            }
        }
        &--information-operations{
            border-color: $disinformation;
            color: $disinformation;

            &:hover{
                background-color: $disinformation;
                color: #fff;
            }
        }
        &--political-and-social-subversion{
            border-color: $political;
            color: $political;

            &:hover{
                background-color: $political;
                color: #fff;
            }
        }
        &--strategic-economic-coercion{
            border-color: $state;
            color: $state;
            
            &:hover{
                background-color: $state;
                color: #fff;
            }
        }
        &--malign-finance{
            border-color: $malign;
            color: $malign;

            &:hover{
                background-color: $malign;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #main {
        .btn {
            &--mobile-block{
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    }
}