.compare-toggle{
    position: absolute;    
    top: 10px;
    left: 10px;
    
    // background-color: #000;
    background-color: rgba(20,20,20,.2);
    display: flex;
    align-items: center;
    padding: 3px;
}
    

/* Compares boxes */
.compares {
    clear: both;
    @include display-grid;
    position: relative;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    // grid-template-columns: 1fr 1fr 1fr;
    width: 1280px;
    background-color: #fff;
    opacity:0;
    height: 0;
    transition: all .4s ease-in-out;

    &__loading {
        text-align: center;
        padding: 50px 0;
        transition: all 400ms;

        &--hidden {
            height: 0;
            opacity: 0;
            padding: 0;
        }
    }

    &--hidden {
        padding: 0;
        opacity: 0;
        height: 0;

        &.animated {
            padding: 10px;
            height: auto;
        }
    }
    
    &__content{
        position: absolute;
        top: 0;
        width: 100%;

        .incident {
            padding: 10px 10px 25px;
            position: absolute;
            width: 100%;
            // opacity: 1;
            // transition: opacity .7s ease;
                visibility: hidden;
            &.animated{
                visibility: visible;
            }
    

            &.fastest{
                -webkit-animation-duration: 250ms;
                animation-duration: 250ms;
            }
        
            h3 {
                color: black;
            }

            &__arrows {
                width: 100%;
                text-align: center;
            }

            &__cards {
                height: 265px;
            }
            &:before {
                content: "";
                border-top: 4px solid #AB3A69;
                width: 30px;
                content: '';
                display: block;
                margin-top: -10px;
            }
    
            &.incident--cyberattacks:before{
                border-color: $cyber;
            }
            &.incident--information-operations:before{
                border-color: $disinformation;
            }
            &.incident--political-and-social-subversion:before{
                border-color: $political;
            }
            &.incident--strategic-economic-coercion:before{
                border-color: $state
            }
            &.incident--malign-finance:before{
                border-color: $malign
            }
    
            &__title{
                margin-top: 20px;
                line-height: 1.2;
            }
        }
    }
    &--shown {
        opacity: 1;
        height: auto;
    }
    
    &__close {
        position: absolute;
        right: 10px;
        top: 5px;

        i {
            cursor: pointer;
        }
        
    }
    &__item {
        position: relative;
        border: 1px dashed $dark-grey;
        height: 295px;
        width: 100%;
        padding: 5px;

        h2 {
            color: $primary;
            font-family: $font-serif;
            margin-bottom: 5px;
            font-size: 20px;
        }
        p {
            font-size: 14px;
            text-transform: uppercase;
            color: $primary;
            padding-bottom: 30px;
        }
        
    }

    &__threats {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 700px;
        position: relative;
        padding-right: 20px;
        margin: 0;
    }

    &__threat-title {
        display: flex;
        align-items: center;
        height: 40px;
        width: 170px;
        position: absolute;
        left: 0;
        justify-content: flex-end;
        font-size: 18px;
        color: $primary;
    }
    &__threat {
        align-self: flex-start;
        width: 55%;
        display: block;
        border: 1px solid $dark-grey;
        margin: {
                
            bottom: 5px;
            left: 180px;
        }
        height: 40px;
        font-size: 18px;
        line-height: 1;
        cursor: pointer;

        &:last-child{
            margin-bottom: 0;
        }

        &:after{
            content: "";
            display: block;
            // background-color: $cyber;
            height: 100%;
            position: relative;
            top:  50%;
            transform: translateY(-50%);
            transition: background-color .3s ease;
            cursor: pointer;
            width: 50px;
            margin-bottom: 10px;
        }

        &--cyberattacks:after{
            background-color: $cyber;
        }
        &--malign-finance:after{
            background-color: $malign;
        }
        &--strategic-economic-coercion:after{
            background-color: $state;
        }
        &--political-and-social-subversion:after{
            background-color: $political;
        }
        &--information-operations:after{
            background-color: $disinformation;
        }
    }
    @for $i from 1 through 100 {
        .percentage-#{$i} {
            &:after {
                $value: ($i * 1%);
                width: $value;
            }
        }
    }
}