.country {
    &__threat-link{
        margin-bottom: 0;
    }
}

#main{
    
    .countryBanner {
        display: grid;
        grid-template-columns: 25% 1fr;
        align-items: center;
        height: 150px;
        margin: {
            // top: 20px;
            left: -30px;
            right: -30px;
            // bottom: 20px;
        }

        padding: 10px;
        background-color: #f8f7f0;
        &__image {
            height: 100%;
            width: auto;
            margin-right: 40px;
            // filter: grayscale(100%);
        }

        &__stats {
            text-align: center;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            margin-left: 20px;
            h2 {
                font-family: $font-sans !important;
                font-weight: 700;
                padding-right: 10px;
                // color: white !important;
                margin: 10px 0;
                // font-size: 48px !important;
                // font-weight: 400 !important;
                padding-right: 10px;
            }

            h3 {
                // color: white !important;
                margin: 10px 0;
                color: $dark-grey !important;
            }
        }
    }

    @media only screen and (max-width: 414px) {
        .countryBanner {
            display: block;
        }
    }

    

    // search filter overrides
    .threat-search--sticky {
        position: fixed;
        top: 0;
        // width: 100%;
        width: 100%;
        max-width: 1280px;
        z-index: 10000;
    }
}

.admin-bar {
    #main  {
        .threat-search--sticky { 
            top: 32px;
        }
    }
}