
#main {
    /* Tagline - Donate CTA */
    .donate-cta {
        .fusion-reading-box-flex {
            flex-direction: column;
            align-items: flex-start;
            justify-content: left
            
        }

        &.fusion-reading-box-container .reading-box {
            padding: 40px 20px;
        }

        .reading-box div.fusion-reading-box-flex h2{
            color: white;
            font-size: 28px !important;
            line-height: 1.2em !important;
            font-weight: 400 !important;
            margin-bottom: 34px;
            font-family: $font-serif !important;
        }

        h2{
            font-family: $font-serif;
            font-size: 28px ;
            line-height: 36px;
            color: #fff ;
            margin-bottom: 30px;
            
        }

        .button{
            border-width: 3px;
            margin-left: 0;
        
        }
    }

        


    .large-text {
        font-size: 30px;
        font-family: $font-serif;
        line-height: 1.2em;
    }

}