#main {
    .featured-container {
        // height: 200px;
        border-bottom: 1px solid $primary;

        &__caption{
            font-style: italic;
            background-color: $primary;
            font-size: 12px;
            padding: 8px 14px;
            color: #fff
        }
    }

    .flex-active-slide {
        .wp-post-image {
            max-height: 350px;
        }

    }
}
