footer.fusion-footer-widget-area {
    /* Footer */
    #menu-footer{
        @include display-grid;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
    

         > *:nth-child(1){

            -ms-grid-row: 1;

            -ms-grid-column: 1;
        } 
        > *:nth-child(2){

            -ms-grid-row: 2;

            -ms-grid-column: 1;
        } 
        
        > *:nth-child(3){

            -ms-grid-row: 3;

            -ms-grid-column: 1;
        }
         > *:nth-child(4){

            -ms-grid-row: 4;

            -ms-grid-column: 1;
        } 
        
        > *:nth-child(5){

            -ms-grid-row: 5;

            -ms-grid-column: 1;
        } 
        > *:nth-child(6){

            -ms-grid-row: 1;

            -ms-grid-column: 2;
        } 
        > *:nth-child(7){

            -ms-grid-row: 2;

            -ms-grid-column: 2;
        } 
        > *:nth-child(8){

            -ms-grid-row: 3;

            -ms-grid-column: 2;
        }
         > *:nth-child(9){

            -ms-grid-row: 4;

            -ms-grid-column: 2;
    } 
     > *:nth-child(10){

            -ms-grid-row: 5;

            -ms-grid-column: 2;
    }

        li a:after{
            content: "" !important;
        }

        li a{
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            

            &:hover {
            
                text-decoration: underline;
            }
        }
    }

    .fusion-footer-widget-area{
        padding-top: 40px !important;
        padding-bottom: 55px !important;
        
    }

    .fusion-footer-widget-area .fusion-columns{
        display: flex;
    }

    .fusion-footer .fusion-column:first-of-type {
        width: 25% !important;
        border-right: 1px solid;
        border-right-color: rgba(119,120,123,0.25);
        
        padding-right: 5%;
    }
    .fusion-footer .fusion-column:nth-child(2){
        border-right: 1px solid;
        border-right-color: rgba(119,120,123,0.25);
        width: 35%;
    }
    .fusion-footer .fusion-column:nth-child(3){
        width: 25% !important;
    }    

    .current-menu-item {
        a{
            text-decoration: underline;
            color: $primary !important;
        }
    }
}
