/******************/
/* HEADER         */
/******************/
/* 
.fusion-mobile-menu-design-modern .fusion-header>.fusion-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fusion-main-menu {
    margin-left: auto;
} */




.header__trends h4{
    color: #fff !important;
    display: inline;
}

.header__hero h1{
    font-size: 72px;
    line-height: 72px;
    color: #fff;
}

.header__trends ul{
    list-style: none;
    
    display: inline;
}
 .header__trends ul  li{
    display: inline;
    margin-right: 10px;
 }
.header__trends ul li:last-child{
    margin-right: 0;
}
        
.header__trends ul li a{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 400;
    text-transform: lowercase;
}