#map .mapboxgl-popup-content {
    background: $generic;
    opacity: 0.9;
    padding: 0;
    width: 460px;
}



.map-popup {
    
    z-index: 100;
    position: relative;
    min-height: 260px;
    @include display-grid;
    -ms-grid-columns: 1fr;
   
    // design for home page
    .incident {
        padding: 10px 10px 25px;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        width: 100%;
        // opacity: 1;
        // transition: opacity .7s ease;
            visibility: hidden;
        &.animated{
            visibility: visible;
        }

        &.fastest{
            -webkit-animation-duration: 250ms;
            animation-duration: 250ms;
        }
    
        &:before {
            content: "";
            border-top: 4px solid #AB3A69;
            width: 30px;
            content: '';
            display: block;
            margin-top: -10px;
        }

        &.incident--cyberattacks:before{
            border-color: $cyber;
        }
        &.incident--information-operations:before{
            border-color: $disinformation;
        }
        &.incident--political-and-social-subversion:before{
            border-color: $political;
        }
        &.incident--strategic-economic-coercion:before{
            border-color: $state
        }
        &.incident--malign-finance:before{
            border-color: $malign
        }

        &__title{
            margin-top: 20px;
            line-height: 1.2;
        }
    }

    &__arrows {
        margin: {
            top: 10px;
            bottom: 10px;
        }
        
        padding-top: 10px;

        border-top: 1px solid $dark-grey;
        color: $dark-grey;
        text-align: center;
        font-size: 16px;
        grid-row: 2;
        -ms-grid-row: 2;

        .fa {
            padding: 0 10px;
        }
    }

    & h2 {
        color: $primary;
        font-family: $font-serif;
        margin-bottom: 5px;
        font-size: 20px;
    }

    & h3{
        color: $dark-grey;
    }

    & p {
        font-size:  14px;
        text-transform: uppercase;
        color: $primary;
        padding-bottom: 30px;
    }
    
    &__related{
        margin-left: 60px;
        font-size: 14px;
        color: $primary;
        font-weight: 700;
        font-family: $font-serif;;
        text-decoration: underline;
    }

    
}

button.mapboxgl-popup-close-button {
    font-size: 24px;
    color: $dark-grey;
    cursor: pointer;
    z-index: 101;
}

.mapboxgl-popup-tip {
    opacity: 0.7;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: $generic;
} 

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $generic;
} 

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: $generic;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: $generic;
}

@media only screen and (max-width: 800px) {
    .mapboxgl-popup-content{
        width: 250px;
    }
    .map-popup {
        height: 350px;

        &--short {
            height: 320px;
        }
        .incident { 
            p {
                padding-bottom: 5px;
            }
        
            &__actions {
                display: flex;
                align-items: center;
            }
        }

        &__related {
            
            margin: {
                left: 25px;
                
            }
        }
    }
}
