.incident-alert{
    background-color: $dark-grey; 
    min-height: 80px;
    color: white;
    @include display-grid;
    -ms-grid-columns: 17% 1fr 25px;
    grid-template-columns: 17% 1fr 25px;
    transition: all .5s;
    &.animated{
        height: 0;
        min-height: 0;
    }
    &__notice {
        text-transform: uppercase;
        background-color: $multiple;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-sans;
        font-size: 18px;
        font-weight: 700;
        -ms-grid-column: 1;
        grid-column: 1;
  
        &:after {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-left-color: $multiple;
            border-width: 80px;
            margin-top: -80px;
        }
       
    }

    &__content {
        margin: {
            left: 130px;
            right: 10px;
        }
        padding: {
            top: 20px;
            bottom: 20px;
        }
        font-size: 18px;
        font-family: $font-serif;
        display: flex;
        align-items: center;
        -ms-grid-column: 2;
        grid-column: 2;

        p {
            margin: 0;
            a {
                color: #fff;
            }
        }
    }

    &__close {
        display: flex;
        align-items: center;
        -ms-grid-column: 3;
        grid-column: 3;
    }
}
@media only screen and (max-width: 800px) {
    .incident-alert{
        position: relative;
        display: block;
        min-height: 120px;

        &__notice {
            padding: 10px;
            justify-content: left;
        }

        &__content {
            
            padding: 10px;
            margin-left: 0;
        }

        &__close {
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }
}