
.map__container {
    position: relative;
    background: #fff;
}
.header-map{
    position: absolute;
    top: 0;
    margin-left: -30px;
    width: 100%;
}

#map {
    position: relative;
    // margin-top: -120px;
    bottom:0;
    width:100%;
    max-height: $mapHeight;
    min-height: $mapHeight;
    width: 1280px;
}

.map__explore {
    position: absolute;
    bottom: 35px;
    right: 15px;
    visibility: hidden;

    &.animated {
        visibility: visible;
        z-index: 1;
    }
}
.map-overlay{
    height: 100%;
    float: left;
    position: absolute;
    // top: 159px;
    background-color: rgba(0,0,0,.4);
    z-index: 100;
    width: 100%;
    transition: top .5s;
    
}
.map-guide {
    height: 75%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 101;
    padding: 15px;
    visibility: hidden;

    &.animated {
        visibility: visible;

        &.fadeOut{
            z-index: 0;
        }
        
    }

    &__button {
        margin-left: 10px;
    }
    &__actions
     {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}
@media only screen and (min-width: 1280px) {
    .map-overlay {
        width: 1280px;
    }
}
@media only screen and (max-width: 800px) {
    #main {
        margin-top: 0;
        padding-top: 20px !important;
    }
    .map__container {
        padding: 20px 5% 0 5%;
        background: #fff;
    }
    #map {
        min-height: 400px;
        max-height: 400px;
        width: auto;
    }

    .map {
        &-guide {
            width: 85%;
            height: 85%;
            padding: 15px;
            overflow: scroll;
            
            &__content {
                p {
                    margin: 0 0 12px 0;
                }
            }
    
            &__actions {
                position: relative;
                @include display-grid;
                grid-column-gap: 10px;
                margin-left: 15px;
            }
    
            &__button {
                margin: {
                    left: 0;
                    top: 5px;
                }
            }
        }

        &-overlay {
            // height: 400px;
            width: 90%;
            height: calc( 100% - 20px );
    
            &.map-overlay--admin{
                
                // top: 206px;
            }
    
            &--alert {
                // top: 280px;
    
                &.map-overlay--admin {
                    // top: 326px;
                }
            }
        }

        &__explore {
            left: 10%;
            width: 80%;

            .btn {
                display: block;
            }
        }
    }
    
   
}
// @media only screen and (max-width: 516px) {
//     .site-hero {
//         margin-top: -550px;

//         h1 {
//             font-size: 48px;
//             line-height: 1.2;
//             margin-bottom: 30px;
//         }

//         .trend-bar {
//             margin-top: 40px;
//         }
//     }
// }



// HERO Trend Bar
.trend-bar {
    @include display-grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid $dark-grey;
    margin-top: 90px;
    padding-top: 20px;
}

.trend-bar h4{
    margin: 0;
    font-family: $font-serif;
    color: #fff;
}
.trend-hashtags__list {
    margin-left: 38px; 
}