#menu-main, #menu-main-menu, #menu-mainv1 {
	.fusion-main-menu-search a{
	    border: 3px solid $primary;
	    
	    padding: 0 14px;
	    
	    height: 44px;
	    box-sizing: border-box;
	    margin-top: 3px;
	    
	    :after{
		
		vertical-align: middle;
	    }
	    
	    &:visited{
		&:after{
		    color: $primary;
		}
	    }
	    &:hover{
		background-color: $primary;
		color: #fff;

		&:after{
		
		    color: white !important;
		}
	    }
	}
	// .fusion-bar-highlight{
	//     height: 50px;
	// }
    
}

// .fusion-is-sticky {
//     .fusion-bar-highlight {
//         height: 40px;
//     }
// }

/* Mega Menu */
#menu-main {


	.menu-item {
	    transition: background-color .2s ease-in;
	    &.current-menu-item{
		> a {
		    color: $primary;
		}
	    }
	    a {
		// color: white;
		font-family: $font-sans !important;
	    }

	    .sub-menu {
	       
		a:hover {
		    color: $primary;
		}
	    }
	}
	.fusion-megamenu-submenu {
	    text-align: center;

	    .fusion-megamenu-title {
		padding: {
		    left: 0;
		    right: 0;
		}
	    }
	
    } 
    
}
@media only screen and (min-width: 1280px) {
    #menu-main {
	.fusion-megamenu-holder{
	    width: 1280px !important;
	    margin: {
		left: -30px;
	    }
	}
    }
}
