#main {
    .fusion-meta-info{
        
        padding: 8px 0;
        
        &--single{
            border: 0;
            // border-bottom: 1px solid $light-gray;
            // padding-bottom: 28px;
            
        }
        
    }

    .fusion-meta-info-wrapper{
        
        .fusion-inline-sep {
            display: none;
        }
    }
    .asd-meta{
        &__date {
            
            &--single {
                margin-bottom: 24px;
                font-size: 18px;
                font-weight: 400;
            }
            
        }
    }
    .asd-author {
        background-color: #F8F7F0;
        padding: 12px 14px;
        margin-right: 24px;
        max-width: 400px;
        margin-bottom: 12px;

        &:last-child{
            margin-bottom: 0;
        }
        // width: 300px;
        display: flex;
        align-items: center;

        
        &__name {
            font-size: 22px;
            
        }

        &__avatar {
            margin-right: 24px;
            min-width: 72px;

            img {
                border-radius: 50%;
                width: 72px;
                height: 72px;
            }
        }
    
        &__image {
            border-radius: 50%;
            width: 72px;
            height: 72px;
            
        }
        &__title{
            font-size: 16px;
    
        }
        .avatar{
            border-radius: 50%;
            margin-right: 24px;
        }
    }
}
