@media only screen and (max-width: 800px) {
    #wrapper {
        .fusion-header-has-flyout-menu-content{
            width: 100%;
        }
    
        
    }
    
}

@media only screen and (max-width: 1190px) {
    .fusion-flyout-mobile-menu {
        margin-top: 190px !important;
        padding-top: 20px;
        
        
        .fusion-toggle-icon-line{
            background-color: $dark-grey;
        }

        .fusion-flyout-active {
            .fusion-toggle-icon-line{
                background-color: $dark-grey;
            }
        }
        .fusion-mobile-nav-item
        {
            padding: 10px 0;
        }

        .fusion-mobile-nav-item{
            margin-bottom: 24px;
        }
    }
}

/* hack because switching to flyout messes up width of menu */
#wrapper {
    .fusion-header-has-flyout-menu-content{
        width: 100%;
    }
}