#main {
    .news {
        background-color: $generic;
        .fusion-text{
            
            padding: 14px 12px;

            h3{
                margin: 0 0 18px 0;
               
            }
            h4{
                margin: 0;

                a {
                    text-decoration: underline;
                }
                
            }
        }
    }
}