
#main {
    .podcast-block{
        // padding: 0 0 0 20px;
    }
}

@media only screen and (max-width: 800px) { 
    #main {
        .podcast-block-mobile{
            padding-left: 20px;

        }
    }
}