#main {
    .post--narrow {
        .post-content{
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
         }

        .fusion-post-title-meta-wrap{
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
         }
    }
}