.powerbi{
    .modal-lg {
        width: 95%;
        height: 95%;

        .modal-content {
            height: 100%;
        }

        .modal-body {
            height: 85%;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}