#main {
    .download-container{
        text-align: center;
        background-color: #F8F7F0;
        padding: 14px 12px;

        .fusion-fa-align-center {
            margin-bottom: 12px;
        }

        &__content{
            font-size: 22px;
        }
    }

    .section__heading {
        border-top-width: 1px;
        border-top-color: #77787b;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #77787b;
        border-bottom-style: solid;
        padding: 14px;
        font-size: 28px !important;
        font-family: $font-serif !important;
    }
}