#wrapper #main {
    .related-posts{
        .fusion-title h2{
            border-top-width: 1px;
            border-top-color: #77787b;
            border-top-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #77787b;
            border-bottom-style: solid;
            padding: 28px 28px 27px 31px;
            font-size: 36px !important;
            font-family: $font-serif !important;
        }
    }
}