/***********************/
/* Facet Results       */
/***********************/




#main {
    // .fusion-main-menu-search .fusion-custom-menu-item-contents {
    //     // background-color: $primary !important;
    //     // border-color: $primary !important;
    // }

    .search-box{
        z-index: 2;
    }
    @media only screen and (max-width: 900px) {
        .threat-search .fusion-column-wrapper {
            padding: 0;
            margin: {
                left: -30px;
                right: -30px;
            }
            .asd-search {
                display: block;
                padding: 20px 0;
                
                margin: {
                    left: 0;
                    right: 0;
                    
                }
                .advanced-search {
                    margin-bottom: 60px;
                }

                &__buttons {
                    margin-top: 20px;
                    text-align: center;
                }
                &__advanced { 
                    margin-bottom: 20px;
                    text-align: left;

                }
                &__buttons {
                    display: block;
                }
            }
        }
    }
    .asd-search{
        // background-color: $primary;
        margin-left: -30px;
        margin-right: -30px;
        padding: 40px 20px 20px;
        display: grid;
        grid-template-columns: 15% 1fr;
        box-sizing: content-box;
        height: auto;
        transition: all .5s ease;

        
        &__buttons{
            text-align: right;
    
            button {
                margin-right: 20px;
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__container {
           
            z-index: 1000;
            position: sticky;
            top: 0px;
            fusion-row {
                z-index: auto;
            }

            &--sticky {
                
                max-width: 1220px;
                width: 100%;
                // height: 95px;
                
                
                .asd-search{
                    grid-template-columns: 1fr;
                    // padding: 10px 40px;
                    padding: 10px 10px 15px;
                    &__mini {
                        h4 {
                            color: white;
                            margin: 0 0 8px;
                            font-size: 24px;
                        }

                        
                    }

                    &__term {
                        font-weight: 700;
                    }
                    
                }
                
              
                h2 {
                    opacity: 0;
                    height: 0;
                    margin: 0;
                    transition: all .5s ease;
                }
    
                // .facets {
                //     // opacity: 0;
                //     // height: 0;
                //     // display: none;
                //     // transition: all .2s ease;
                // }
                    
                
            }
        }
    
        /* Advanced Search */
        .facetwp-slider-label {
            color: #fff;
        }
        &__advanced {
            margin-right: auto;
        
            #advanced-search {
                color: white;
                
            }
        }

        &__mini {
            display:none;
            color: #fff;
            text-align: center;

            &--collapsed {
                display: block;
               
            }
            p {
                margin-bottom: 10px;
            }

           
        }

        .advanced-search.facetwp-dropdowns {
            opacity: 0;
            height: 0;
            display: none;
            
            
    
            &.advanced-search--shown{
                display: block;
            }
        }

        &__keyword, .facetwp-search{
            
            // background-color: #4d4d4f;
            font-size: 18px;
            line-height: 36px;
            height: 40px;
            padding: 11px;
            color: $light-grey;
            // border: 0;
            border: 1px solid #d2d2d2;
            font-family: $font-serif;;
        } 

        .facetwp-search::placeholder {
            font-family: $font-serif;;
            color: #d4d4d4;
        }

        .facetwp-search-wrap {
            display: block;
        }

        .facetwp-btn{
            right: 15px;
            top: 11px;
            color: #fff;
        }

        .facetwp-dropdowns {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            grid-gap: 10px;
        }

        .facetwp-type-dropdown {
            margin-right: 20px;
        }

        .facetwp-type-dropdown:last-child {
            margin-right: 0;
        }

        select, .facetwp-dropdown, {
            
            // background-color: #4d4d4f;
            border: 1px solid #d2d2d2;
            border-radius: 0;
            -webkit-appearance: none;
            background-position: right 50%;
            background-repeat: no-repeat;
            background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2014%2012%22%20enable-background%3D%22new%200%200%2014%2012%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpolygon%20points%3D%223.862%2C7.931%200%2C4.069%207.725%2C4.069%20%22/%3E%3C/svg%3E);
            height: 40px;
            -webkit-appearance: none;
            padding: 0 11px;
            font-size: 18px;
            font-family: $font-serif;
            color: $dark-grey;
            width: 100%;
            // border: 0;
        }
        .fs-wrap {
            width: 100%;
            position: relative;

            .fs-dropdown {
                width: 100%;
            }
            .fs-label-wrap{
                height: 40px;
                width: 100%;
                .fs-label{
                    padding: {
                        top: 11px;
                        bottom: 11px;
                        
                    }
                    font-family: $font-serif;
                    font-size: 18px;
                    color: $dark-grey;
                }
            }
        }

        &--country {
            display: block;
            padding: 10px 10px 20px;
            .asd-search {
                &__title {
                    color: $primary;
                }
            }

            .advanced-search {
                color: $primary;
                &__control {
                    display: grid;
                    grid-template-columns: 120px 1fr;
                    grid-gap: 10px;
                }
                &__present {
                    margin-bottom: 30px;
                    text-align: right;
                }

                &__label{
                    color: $primary;
                    text-align: right;
                    
                }
            }

            #advanced-search {
                color: $primary;

               
                
            }
            .facetwp-facet {
                &.facetwp-facet-keywords {
                    margin-bottom: 10px;
                }
            }
        }
        &__title {
            font-size: 36px;
            font-weight: 700;
            color: #faf9f4;
        }

        select:last-child {
            margin-right: 0;
        }

        &__buttons{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &__button:first-child{
            margin-right: 20px;
        }
    }
    .facetwp-facet {
        margin-bottom: 0px;

        &.facetwp-facet-keywords {
            margin-bottom: 30px;
        }
    }

    .facetwp-counts {
        font-size: 18px;
        font-weight: 700;
        font-family: $font-sans;
        margin-top: 5px;
        line-height: 1.5;
    }
 
    /*********************/
    /* Search Results    */
    /*********************/
    .asd-results {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 20px;
    }

    .post-content{
        .fwp-load-more{
            width: 100%;
            margin-top: 20px;
            font-family: $font-sans;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1em;
            padding: 22px 22px 22px 22px;
            border: 3px solid;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            -webkit-transition: all .2s;
            transition: all .2s;
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: initial;
            transition-delay: initial;
            border-color: $primary;
            color: $primary;

            &:hover{
                background: $primary;
                color: #fff;
        
                // border-color: #ffffff;
            }
        }
        @media only screen and (min-width: 900px) {
            .asd-result{
                grid-template-columns: 150px 1fr;
                grid-gap: 20px 10px;
                
                margin: {
                    right: 20px;
                    
                }
            }     
        }
        @media only screen and (max-width: 900px) {
            .asd-result{
                grid-template-columns: 1fr;
                
                
               
                &__attachments {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                }
            }
        }
        .asd-result{
           display: grid;
           border-bottom: 1px solid #ccc;
           padding: 0 0 20px 0;
            // border: 1px solid #ebeaea;
            
            // border-bottom-width: 3px;
            min-width: 0;
            &__thumb{
                padding-top: 10px;
                // margin: {
                //     left: -25px;
                //     right: -25px;
                // }

                // &::after {
                //     content: "";
                //     width: 40px;
                //     height: 4px;
                //     background-color: $primary;
                //     display: block;
                //     margin-left: 20px;
                // }
            }

            &__link {
                position: relative;
                
            }

            &__threat {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                width: 150px;
                background-color: rgba(22,22,22,0.6);
                padding: 6px;
            }
            &__category{
                font-size: 14px;
                line-height: 22px;
                color: $primary;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            &__title{
                // font-weight: 700;
                // line-height: 1.2;
                // letter-spacing: 0px;
                // font-style: normal;
                // font-size: 32px;
                margin: 5px 0;
                display: flex;
                justify-content: space-between;
                a:not(.btn--primary) {
                    color: $primary;
                }
            }

            &__date{
                font-size: 16px;
                color: #6F7073;
                
                margin: 5px 0 10px;
            }

            &__read{
                font-size: 16px;
            }



        }
    }
 

    .results-page{
        border-top: 1px solid #77787B;
        border-bottom: 1px solid #77787B;
        padding: 28px 28px 27px 31px;
        margin-top: 40px;
        margin-bottom: 40px;

        &__title{
            font-size: 30px;
            color: $primary;
            margin: 0;
        }
    }
    .noteworthy-recents{
        border-left: 1px solid rgba(119,120,123,0.25);
        padding-left: 40px;
    }

    /* WordPress Search */
    sidebar{
        .widget-title {
            font-size: 32px;
            font-family: $font-serif;
            margin: 0 0 12px 0;
        }
    }


    
}

/* Search Menu Popup */
@media only screen and (min-width: 414px) {
    #menu-main {
        
        .fusion-custom-menu-item-contents {
            // border-color: $primary;
            width: 300px;
            top: 50px;
            right: -2px;

            .facetwp-facet {
                margin-bottom: 0;
            }
            .facetwp-search{
                font-size: 20px;
                height: 40px;
                font-family: $font-serif;
            }
            .facetwp-btn{
                right: 10px;
            }

        }
    }
}

@media only screen and (max-width: 414px) {
    .post-content{
        .asd-result{

            display: grid;
            grid-template-columns:1fr;
        }
    }
}
        
.fusion-flyout-search {
	#menu-search {
		margin: 150px 0;
		width: 100%;
	
		.facetwp-facet-keywords {
			width: 100%;
		}

		.facetwp-btn{
			right: 10px;
			position: absolute;
			z-index: 1000;
			&:before {
				width: 24px;
				height: 24px;
				background-size: 24px 24px;
			}
		}

		.facetwp-search{
			    height: 60px;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 36px;
    padding-right: 35px;
		}
	}
}

.facetwp-sort-select{
    // background-color: #4d4d4f;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    -webkit-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2014%2012%22%20enable-background%3D%22new%200%200%2014%2012%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpolygon%20points%3D%223.862%2C7.931%200%2C4.069%207.725%2C4.069%20%22/%3E%3C/svg%3E);
    height: 40px;
    -webkit-appearance: none;
    padding: 0 11px;
    font-size: 18px;
    font-family: $font-serif;
    color: $dark-grey;
    width: 100%;
    // border: 0;
}

.facetwp-pager {
	text-align: center;
	margin-top: 16px;
}


@keyframes ldio-vxcvn8cifwd {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-vxcvn8cifwd div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-vxcvn8cifwd linear 1s infinite;
  background: #196594;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-vxcvn8cifwd div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #196594;
}.ldio-vxcvn8cifwd div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #196594;
}
.loadingio-spinner-spinner-bkkx0fm8zpr {
  width: 200px;
  height: 200px;
	margin: 24px auto;
	  
display: block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-vxcvn8cifwd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vxcvn8cifwd div { box-sizing: content-box; }
/* generated by https://loading.io/ */
