// Create a segmented control using a radio group
// look at the following structure for an example
// css:
// .controls {
//  +segmented-controls()
// }
// html:
// <div class="controls">
//  <input id="control" type="radio" />
//  <label for="control">
//    Segmented
//  </label>
// </div>
//
// $amount - how many controls you need
// $width  - the max-width a single control will be
// $margin - margin around a single control
// $active - the active text color of a checked control
@mixin segmented-controls($amount: 2, $width: 180px, $margin: 2px, $active: inherit) {
    $_margin: $margin * 2;
    $highlightWidth: 100% / $amount;
    display: flex;
    max-width: $width * $amount;
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 1;

    > input {
        display: none;

        &:checked + label {
            color: #fff;
        }

        @for $i from 1 through $amount {
            $index: $i - 1;

            &:nth-of-type(#{$i}):checked {
                ~ label:last-of-type:before {
                    transform: translateX(calc(#{100 * $index}% + #{$_margin * $index}));
                }
            }
        }
    }

    label {
        flex: 1;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        // width: $width;
        cursor: pointer;

        &:last-of-type:before {
            content: "";
            display: block;
            max-width: calc(#{$highlightWidth} - #{$_margin});
            // max-width: $highlightWidth;
            margin: $margin;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transform: translateX(0);
        }
    }
}
