#main {
    .fusion-sharing-box {
        h4{
            color: $primary;
        }
        .fusion-social-network-icon{
            color: $primary;
        }
   }

   .share {

        &__wrapper {
            height: 28px;
            border-radius: 4px;
            padding: 1px 10px 1px 9px;
            background-color: $dark-grey;
            font-size: 13px;
            font-weight: 500;
            line-height: 26px;
            cursor: pointer;

            &--facebook {
                background-color: #4C67A1;
                border-color: #4C67A1;
                width: 80px;
            }
        }
        &__button{
            &--twitter {
                background: transparent;
            }

            &--copy {
                width: 80px !important;
            }
            

            &--facebook {
                background: transparent;
            }
        }
        &__networks {
            -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transform: scale(0) translateY(-190px);
            transform: scale(0) translateY(-190px);
            opacity: 0;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            margin-right: 150px;
            position: relative;
            /* stops flickering */
            -webkit-backface-visibility: hidden;

            ul {
                position:absolute;
                display: flex;
                top:-20px;
                left:-80px;
                width: auto;
                // height: 40px;
                color: #fff;
                border: 2px solid $light-grey;
                
                margin: auto;
                padding:  10px;
                list-style: none;
            }
            &--show {
                -webkit-transform: scale(1) translateY(-90px);
                transform: scale(1) translateY(-90px);
                opacity:1;

                ul {
                    

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 21px;
                        left: -11px;
                        right: 0;
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        margin: 35px auto;
                        border-top: 12px solid $light-grey;
                    }

                    li {
                        font-size: 90%;
                        width: auto;
                        margin: 0 5px 0 0;
                        text-align: center;
                        float: left;
                        display: block;
                        // height: 40px;
                        // line-height:40px;
                        position: relative;
                        z-index: 2;
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                        transition: all .3s ease;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            display:block;
                            color:white !important;
                            font-family: Helvetica, sans-serif
                        }
                    }
                }
            }
        }
    }
}