/** Site Hero **/
#site-hero {
    &.site-hero {
        color: #fff;
        z-index: 5000;
        position: relative;
        width: 100%;
        padding: 0px 40px 33px;
        margin-top: -474px;
        height: 474px;
        cursor: pointer;
    }
    .site-hero {
        &__tagline{
            h1{
                font-family: $font-serif;
                font-size: 72px;
                font-weight: 700;
                line-height: 72px;
                color: #fff;
                margin-top: 0;
            }
        }
        &--no-map{
            margin-top: 0;

            h1{
                margin-top: 120px;
            }
        }

        &__container{
            z-index: 101;
            
        }
    }

    .cta-hamilton {
        text-align: left;
        button {
            margin-left: 1em; 
        }
    }
}
@media only screen and (max-width: 800px) {
    #site-hero {
        &.site-hero {
            height: 390px;
            margin-top: -390px;

            .site-hero__tagline {
                h1 {
                    font-size: 32px;
                    line-height: 1.2;

                }
            }
        }
    
        // .fusion-separator {
        //     margin-top: 60px !important;
        // }

        .cta-hamilton {
            text-align: right;

            .fusion-button {
                margin-top: 15px;
            }
        }
    }
}