.slider-box {
    h4 {
        margin: 0 10px;
        color: $background;
        padding: 5px;
    }
    &__switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    
        input {
            display: none;
        }
    }
    
    &__slider {
        position: absolute;
        cursor: pointer;
        border-radius: 24px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    
        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            border-radius: 24px;
            transition: .4s;
    
           
        }
        
    }
}

input:checked + .slider-box__slider::before {
    transform: translateX(37px);
}
input:checked + .slider-box__slider{
    background-color: #2196f3;
}
input:focus + .slider-box__slider {
    box-shadow: 0 0 1px #2196f3;
}