#main {
    .fusion-flexslider.flexslider{
        .slides {
            margin: 0;
        }
    }
    .fusion-flexslider.flexslider.post-slideshow{
        .slides{
            margin: 0 -30px;
            img {
                max-height: 350px;
                object-fit: cover;            
            }
            .full-video {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;                
                }
            }   
            
        }
    }
    .fusion-flexslider-loading {
        .slides{
            margin: 0 -30px;
            img {
                max-height: 350px;
                object-fit: cover;            
            }
            .full-video {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;                
                }
            }   
            
        }
    }

}