#main {
    .fusion-author {

        .fusion-author-social {
            padding: {
                top: 14px;
                bottom: 14px;
                left: 16px;
            }
        }
        .fusion-social-networks {
            text-align: left;

            .fusion-social-networks-wrapper {
            
                .fusion-social-network-icon {
                    font-size: 36px;
                }
            }
        }
    }
}
