.source-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(20,20,20,.2);
    display: flex;
    align-items: center;
    padding: 3px;
    width: 600px;

    h4 {
        margin: 0 10px;
        color: #fff;
        padding: 5px;
    }

    .segmented {
        @include segmented-controls(3, 200px, 2px, #3395DE);
        margin: 0 auto;
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 3px;
        color: #fff;

        label {
            padding: 6px;
            transition: color 250ms cubic-bezier(0,.95,.38,.98);
            &:before {
                background: $primary;
                transition: all 250ms cubic-bezier(0,.95,.38,.98)
            }
            &:not(:last-child) {
                border-right: 1px solid #fff;
            }
        }

    }
}