/******
* Talking Points *
*******/

#main {
    @media only screen and (max-width: 400px) {
        .container-highlight.talking-points {
            margin: {
                top: 20px !important;
                bottom: 20px;
            }
        }    
    }
    .container-highlight.talking-points {
        margin: {
            top: 0px;
            bottom: 20px;
        }
        .fusion-meta-info {
            border: 0 !important;

            .meta-date{
                font-size: 14px;
                color: $dark-grey;
                font-weight: 400;
                line-height: 18px;
                
            }

            .quotee{
                font-weight: 700;
                line-height: 18px;
            }
        }
        .fusion-reading-box-container {
            margin-bottom: 20px !important;
        }
        
        h2 {
            font-size: 18px !important;
            font-family: $font-sans !important;
            margin-bottom: 35px !important;
            font-weight: 700;
        }
        
        .fusion-alignleft {
            font-size: 14px;
            line-height: 18px;
            color: $dark-grey;
            font-weight: 700;
            text-transform: uppercase;
        }
        
        .fusion-alignleft a {
            color: $dark-grey;
            font-weight: 700;
        }
        
        span.fusion-inline-sep {
            display: none;
        }
        
        .donate-cta .reading-box{
            padding-top: 18px;
            padding-bottom: 32px;
        }

        .post{
            margin-bottom: 0px;
        }
        
    }
}