/*****************/
    /* Threat Page   */
    /*****************/
$threatBase: 634px;

.admin-bar {
    .threat-legend {
        top: $threatBase;

        &--noAlert {
            top: $threatBase - 85;
        }
    }
}
.threat-legend{
    
    width: 215px;
    background-color: rgba(35,31,32,0.85);
    padding: 10px;
    position: absolute;
    top: $threatBase - 35;
    float: left;
    margin-left: 10px;
    display: none;

    &--noAlert {
        top: $threatBase - 115;
    }
    &__title{
        font-family: $font-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #fff;
        padding-bottom: 17px;
        border-bottom: 1px solid #77787B;
        margin: 0 0 17px;

    }

    &__list{
        padding: 0;
        list-style: none;
        position: relative;
        margin: 0;
    }

    &__item{
        font-family: $font-sans;
        font-size: 12px;
        color: #6C6D71;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        &--active{
            color: #fff;
        }


        &:before{
            position: absolute;
            content: "• ";
            font-size: 30px;
            font-family: Arial;
            left: 0;
            /* use fonts like "arial" or use "sans-serif" to make the dot perfect round */ 
            font-family: Arial, sans-serif;
            vertical-align: -50%;
            line-height: 24px;

        }

        &--cyberattacks:before{
            color: $cyber;
        }

        &--information-operations:before{
            color: $disinformation;
        }

        &--malign-finance:before{
            color: $malign;
        }

        &--social:before, &--political-and-social-subversion:before {
            color: $political;
        }

        &--strategic-economic-coercion:before{
            color: $state;
        }

        &--multiple:before{
            color: $multiple;
        }
    }
}
@media only screen and (max-width: 800px) {
    .threat-legend {
        top: 0;
        width: auto;
        margin: 3px 5% 0;
        text-align: center;
        position: relative;
        // background: transparent;
        &__list {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
        }
        // &__title {
        //     // color: $dark-background;
        // }
        &__item {
            // color: $dark-background;
            text-align: left;
            font-size: 18px;
            text-transform: capitalize;
            &:before{
                font-size: 36px;
            }
            
        }

    }
    .admin-bar {
        .threat-legend {
            top: 0;
        }
    }
}