/**
 * Percentage Bar
 */
.threat-map{ 
    .mapboxgl-popup{
        transition: opacity 1s ease;
    }
    .mapboxgl-popup-content {
        width: 520px;
        transition:  1s ease;
    }
    .map-popup {
        transition: all 400ms ease-in-out;
        &__graph{
            padding: 10px;
            height: auto;
            position: absolute;
            top: 0;
            z-index: 1500;

            &.fadeOutLeft {
                z-index: 1400;
            }
            
            &--hidden {
                height: 0;
                opacity: 0;
                padding: 0;

            }
        }

        &__content {
            padding: 0;
            z-index: 1500;
            position: relative;
            height: 100%;

            &.fadeOutRight {
                z-index: 1400;
                height: 0;
            }
        }

        // &__cards {

        // }

        &__loading {
            text-align: center;
            padding: 50px 0;
            transition: all 400ms;

            &--hidden {
                height: 0;
                opacity: 0;
                padding: 0;
            }
        }

        &--hidden {
            padding: 0;
            opacity: 0;
            height: 0;

            &.animated {
                padding: 10px;
                height: auto;
            }
        }

        &__cards {
            &--hidden {
                opacity: 0;
                height: 0;
            }
        }
        
        // design for threats page
        .popup-threats{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 700px;
            position: relative;
            padding-right: 20px;
            margin: 0;
            
        }

        .pop-threat {
            align-self: flex-start;
            width: 50%;
            display: block;
            border: 1px solid $dark-grey;
            margin: {
                
                bottom: 5px;
                left: 260px;
            }
            height: 40px;
            font-size: 18px;
            line-height: 1;
            cursor: pointer;

            &:last-child{
                margin-bottom: 0;
            }

            &__tip {
                padding-bottom: 10px;
                font-weight: 600;
                text-transform: none;

                i {
                    margin-right: 5px;
                }
            }
            &__title{
                display: flex;
                align-items: center;
                height: 40px;
                width: 240px;
                position: absolute;
                
                left: 0;
                justify-content: flex-end;
                font-size: 18px;
                color: $primary;
            }
            &:after{
                content: "";
                display: block;
                background-color: $cyber;
                height: 100%;
                position: relative;
                top:  50%;
                transform: translateY(-50%);
                transition: background-color .3s ease;
                cursor: pointer;
                width: 50px;
                margin-bottom: 10px;
            }

            &--cyberattacks:after{
                background-color: $cyber;
            }
            &--malign-finance:after{
                background-color: $malign;
            }
            &--strategic-economic-coercion:after{
                background-color: $state;
            }
            &--political-and-social-subversion:after{
                background-color: $political;
            }
            &--information-operations:after{
                background-color: $disinformation;
            }
        }
        @for $i from 1 through 100 {
            .percentage-#{$i} {
                &:after {
                    $value: ($i * 1%);
                    width: $value;
                }
            }
        }
    }
}