/*****************/
/* Threats       */
/*****************/
#main {
    .threat-cta{
        position: relative;
        
    }
    
    .threat-cta:before{
        width: 40px;
        content: '';
        display: block;
        top: 0px;
        position: absolute;
        z-index: 1000;
        left: 20px;
        border-top: 4px solid;
    }
    
    .threat-cta .reading-box {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        height: 290px;
    }
    .threat-cta .reading-box h2{
        font-family: $font-sans !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 22px !important;
        color: #231f20;
        text-transform: uppercase;
    }
    
    .threat-cta .reading-box-description {
        font-family: $font-serif !important;
        font-size: 14px !important;
        line-height: 18px !important;
        color: #4d4d4f;
    }
    
    .threat-cta .reading-box-additional a {
        font-family: $font-serif !important;
        font-size: 14px !important;
        color: #77787b;
        position: absolute;
        bottom: 18px;
        text-decoration: underline;
    }
    
    #cyber:before{
         border-color: $cyber;
    }
    
    #disinformation:before{
        border-color: $disinformation;
    }
    
    #malign:before{
        border-color: $malign;
    }
    
    #political-influence:before{
        border-color: $political;
    }
    
    #strategic-economic-coercion:before{
        border-color: $political; // collapsed social and state;
    }
    
    .threat-search {
        margin: {
            left: -30px;
            right: -30px;
        }
        
    
    }

    
}