body {
    font-family: $font-sans !important;
}

#main {
    h1,h2 {
        font-family: $font-serif !important;
    }

    .button-default, .fusion-button, .post-content h4, h4{
        font-family: $font-sans !important;
    }

    #sidebar{
        h4 {
            font-size: 24px;
            font-family: $font-serif !important;
            margin-top: 0;
        }
    }
}