/*!
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: AJ Siegel
Author URI: http://www.ajsiegel.com
Template: Avada
Version: 3.0
Text Domain:  AvadaChild
*/

/******************/
/* Variables      */
/******************/
:root{
    --malign: #519462;
    --disinformation: #FF6347;
    --political: #643eb2;
    --state: #ffdf47;
    --cyber: #5194c0;
    --primary: #003959;
    --generic: #faf9f4;
    --social: #643eb2;
    --font-sans: "franklin-gothic-urw", sans-serif;
    --font-serif: "minion-3", serif;
}

$primary: #003959;
$background: #F8F7F0;
$disinformation: #FF6347;
$cyber: #5194c0;
$malign: #519462;
$state: #ffdf47;
$political: #643eb2;
$multiple: #AB3969;
$generic: #faf9f4;
$social: #643eb2;
$font-serif: "minion-3", serif;
$font-sans: "franklin-gothic-urw", sans-serif;
$dark-grey: #4d4d4f;
$dark-background: #0a0a0a;
$light-grey: #77787b;
$primary: #0F6494;
$mapHeight: 594px;

/******************/
/* PARTIALS       */
/******************/
@import "_partials/mixins";
@import "_partials/header";
@import "_partials/buttons";
@import "_partials/home_popup";
@import "_partials/threats_popup";
@import "_partials/donate-cta";
@import "_partials/threats";
@import "_partials/threat_legend";
@import "_partials/site-hero";
@import "_partials/mapbox";
@import "_partials/talking_points";
@import "_partials/search";
@import "_partials/footer";
@import "_partials/meta";
@import "_partials/publications";
@import "_partials/sharing";
@import "_partials/news";
@import "_partials/related";
@import "_partials/slides";
@import "_partials/featured";
@import "_partials/menu";
@import "_partials/posts";
@import "_partials/mobile";
@import "_partials/podcast";
@import "_partials/typography";
@import "_partials/social";
@import "_partials/compare";
@import "_partials/sliderbox";
@import "_partials/segmented";
@import "_partials/source_switch";
@import "_partials/incident-alert";
@import "_partials/countryPage";
@import "_partials/powerbi";

/**************************/
/* Special Overrides      */
/*************************/
.asd-fullwidth{
    margin: {
        left: -30px;
        right: -30px;
    }
}

.fusion-fullwidth {
    z-index: 1;
}
/**************************/
/* Tagline - Section CTA */
/*************************/
#main {
    .section-cta .reading-box{
        border-left: 0 !important;
        border-right: 0 !important;
        padding-top: 26px;
        padding-bottom: 26px;
        padding: {
            top: 26px;
            bottom: 26px;
            left: 0;
            right: 0;
        }
    }



    /******************/
    /* Tagline - Right CTA         */
    /******************/
    .right-cta{
        padding: 0;
    }
    .right-cta h2{
        font-family: $font-sans !important;
        font-size: 18px !important;
        line-height: 24px !important;
        color: #fff;
    }
}







ul.inline-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0; }
    ul.inline-list li {
      display: inline;
      margin-right: 10px; }
      ul.inline-list li:last-child {
        margin-right: 0; }
      ul.inline-list li a {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        font-weight: 400;
        text-transform: lowercase; }


      


.flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
justify-content: flex-end;
}
.flex-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
.flex-end{
    justify-content: flex-end;
}



h3 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}


.fusion-reading-box-container {
    margin-bottom: 0px !important;
}



.filter-ctrl {
    position: absolute;
    top: 500px;
    left: 40px;
    display: none;
}

#home .fusion-header {
    background-color: rgba(0,0,0,0);
}

.fusion-header .fusion-row {
    display: flex;
    align-items: center;
}

nav.fusion-main-menu {
    margin-left: auto;
}




#main .fusion-reading-box-container.container-highlight .reading-box h2{
    font-size: 18px;
    color: $primary;
    font-family: $font-sans;
    line-height: 1;
}

#main .fusion-reading-box-container.container-highlight .reading-box{
    padding: 22px 30px;
}

#main .fusion-reading-box-container.container-highlight .fusion-post-content {
    font-size: 18px;
    font-family: $font-serif;; 
    line-height: 22px;
    color: $primary;
}

#main .fusion-reading-box-container.container-highlight .fusion-alignleft{
    font-size: 14px;
    font-weight: 700;
    color: $dark-grey;

}

#main .fusion-reading-box-container.container-highlight .updated{
    font-weight: 400;
}
.container-highlight .fusion-text:before, .container-highlight .reading-box:before  {
    width: 40px;
    content: '';
    display: block;
    top: 0px;
    position: absolute;
    z-index: 1000;
    
    border-top: 4px solid $primary;
}


.donate-cta h2 {
    font-size: 30px !important;
    font-weight: 400 !important;
    font-family: $font-serif !important;
}










/**
 * Download Block 
 **/
 .download-pub{
     display: block;
 }

    